body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  #form-container {
    max-width: 500px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
/* Styles for the submit button */
#submit-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

#submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  #submit-btn:hover {
    background-color: #45a049;
  }
